.header {
  padding: 40px;
  text-align: center;
  background: #f1f1f1;
  color: rgb(153, 102, 51);
  font-family: Copperplate, Papyrus, fantasy;
  text-shadow: -5px 2px #CD853F;
  font-size: 130%;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
  margin-right: 2%;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

