@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

h2 {
  font-family: 'Lobster';
  color: white;
}

body {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.column {
    float: left;
    width: 31%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .post {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#CD853F;  
  }
  
  .container {
    padding: 0 16px;
  }

  .container::after, .row1::after {
    content: "";
    clear: both;
    display: table;
  }
